streamlit==1.30.0
pandas==1.5.0
numpy==1.26.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
statsmodels==0.14.1
yfinance==0.2.35
zipp==3.17.0
scipy==1.10.1
seaborn==0.13.0
async-generator==1.10
async-timeout==3.0.1